<div class="map-holder">
    <div id="smallMap" style="height:100%;width:100%"></div>
    <div class="row aligner map-details">
        <div class="detail-info">
            <div class="title">{{title}}</div>
            <div class="address">{{address}}</div>
        </div>
        <div>
            {{#if distance }}<img class="arrow" src="./images/arrow.png"> <span class="distance">{{distance}}</span>{{/if}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="carouselView"></div>
        <div class="buttonHolder">
            {{#if actionItems}}
            <div class="buttonItem">
                <button id="directionsBtn">
                    Get Directions
                </button>
            </div>
            <div class="buttonItem">
                <button id="contactBtn">
                    Contact
                </button>
            </div>
            {{else}}
            <div class="buttonItem long">
                <button id="directionsBtn">
                    Get Directions
                </button>
            </div>
            {{/if}}
        </div>
        <!-- <a href="">Directions-</a> -->
        <div class="description">
            {{{description}}}
        </div>
    </div>
</div>
